body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1.25rem 1rem;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #e7e7e7;
  color: #777;
  padding: 1rem 0;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  margin: 0 auto;
  display: block;
  max-width: 500px;
}
.wrapper > *:not(.tab-wrap) {
  padding: 0 80px;
}

.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  list-style: none;
  background-color: #fff;
}

.tab {
  display: none;
}

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
}

.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
}

.tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}

.tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tab:checked + label {
  background-color: #fff;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}

.tab:checked + label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}

.tab + label {
  display: block;
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 600;
  color: #333;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  user-select: none;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
}

.tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}

.tab__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0.75rem;
  padding: 10px 20px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.inputBox input {
  background: none;
  border: none;
  outline: none;
  width: 90%;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.copyIcon {
  cursor: pointer;
}

#check {
  color: #4bb543;
}

.passIndicator {
  position: relative;
  width: 100%;
  height: 4px;
  background: #ccc;
}

.passIndicator::after {
  content: '';
  position: absolute;
  height: 100%;
  transition: width 0.3s;
}

#weak::after {
  background: #e64a4a;
  width: 30%;
}

#medium::after {
  background: #f1c80b;
  width: 60%;
}

#strong::after {
  background: #4285f4;
  width: 100%;
}

.passLength {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.passLength .lenContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passLength .lenContainer .label {
  font-weight: 500;
  font-size: 1rem;
}

.passLength .lenContainer span {
  font-size: 0.95rem;
}

.passLength input {
  cursor: pointer;
}

.passSettings .label {
  font-weight: 500;
  font-size: 1rem;
}

.passSettings .options {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 1rem;
}

.passSettings .options .option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 50%;
  margin-bottom: 0.75rem;
}

.passSettings .options .option input {
  width: 0.85rem;
  height: 0.85rem;
  cursor: pointer;
}

.passSettings .options .option:first-child {
  pointer-events: none;
  opacity: 0.5;
}

.passSettings .options .option label {
  font-size: 1rem;
  color: #555;
  line-height: 1;
  cursor: pointer;
}

.btn {
  border: none;
  padding: 1rem;
  width: 200px;
  border-radius: 0.5rem;
  border: 1px solid #1e90ff;
  font-size: 1rem;
  background: #1e90ff;
  color: #fff;
  cursor: pointer;
}

.clear-btn {
  border-color: #ef0107;
  background: #fff;
  color: #ef0107;
}

.btn:active {
  transform: scale(0.97);
}

.btn:hover {
  opacity: 0.75;
}

.clear-btn:hover {
  opacity: 1;
}

.passList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 400px;
  margin-right: 10%;
  margin-bottom: -0.25rem;
}

.passList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  background: #f2f2f2;
  border-radius: 0.5rem;
}

.emptyListMsg {
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;
}
